.DS_STORE

/dist/
node_modules

# Include when developing application packages.
.idea/
.settings/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.swo
*.swp
modules/.settings
modules/.vscode
.vimrc
.nvimrc
.eslintcache

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# Husky
.husky/_

# NX cache
.angular/

.angular
