:host {
  height: 100%;
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main main'
    'footer footer footer';
  align-items: stretch;
  grid-template-rows: 60px 1fr 60px;

  > header {
    grid-area: header;
    max-height: 100px;
  }

  > nav {
    grid-area: nav;
  }

  > main {
    grid-area: main;
  }

  > footer {
    grid-area: footer;
  }

  > header,
  > footer {
    background-color: cornflowerblue;
  }
}

.dashboard-nav {
  grid-column: 3;
}
